language: python
dist: trusty
sudo: required
python:
    - "3.6"
before_install:
    - sudo apt-get update -qq
    - sudo apt-get build-dep -qq python3-pygame
    - sudo apt-get install python3-pygame
install:
    - pip install -r requirements.txt
script:
    - nosetests -v *.py
    - flake8

